body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}
#myH1{
    font-size: 2rem;
    font-family: "Arial", "sans-serif";
    color: hsl(0, 0%, 25%);
}
#timer{
    zoom: 0.7;
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: 5px solid;
    border-radius: 20px;
    background-color: white;
}
#display{
    font-size: 4rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.75);
    margin-left: 15px;
    margin-right: 15px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border-radius: 10px;
    cursor: pointer;
}
#startBtn{
    background-color: hsl(115, 100%, 40%);
}
#startBtn:hover{
    background-color: hsl(115, 100%, 70%);
}
#stopBtn{
    background-color: hsl(10, 90%, 60%);
}
#stopBtn:hover{
    background-color: hsl(10, 90%, 70%);
}
#resetBtn{
    background-color: hsl(205, 90%, 60%);
}
#resetBtn:hover{
    background-color: hsl(205, 100%, 70%);
}

#box{
    font-size: 24px;
}
#sample{
    font-size: 24px;
}

#word-count{
    font-size: 1.5rem;
    font-family: "Arial", "sans-serif";
    color: hsl(0, 0%, 25%);
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    
    border: 2px solid;
    border-radius: 7px;
    background-color: white;
}
#hint-box{
    font-size: 1.5rem;
    font-family: "Arial", "sans-serif";
    color: hsl(0, 0%, 25%);
    position: fixed;
    bottom: 50px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    
    border: 2px solid;
    border-radius: 7px;
    background-color: white;
}